@font-face {
    font-family: "skullbones";
    src: url(/Polices/SKULL\ BONES\ Bold22.otf);
}
body {
    font-family: 'skullbones', Courier, monospace;
    
}
header{
    background: linear-gradient(rgba(72, 158, 206, 1),rgba(253, 185, 146, 1));
}