@font-face {
    font-family: "skullbones";
    src: url(/Polices/SKULL\ BONES\ Bold22.otf);
}

@font-face {
    font-family: "handlee";
    src: url(/Polices/Handlee-Regular.ttf);
}

@font-face {
    font-family: "creamcake";
    src: url(/Polices/Cream\ Cake.otf);
}

@font-face {
    font-family: "simpleSummer";
    src: url(/Polices/Simple\ Summer.otf);
}

body {
    width: 100%;
    font-family: "handlee", cursive;
    margin: 0;
}

header{
    font-family: "creamcake", cursive; 
    width: 100%;
    height: 120px;
    background: linear-gradient(#489ece, #fdb992);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top : 0;
    z-index: 1000;
}

.topnavbar {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonheader {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.buttonheader button a {
    text-decoration: none;
}

nav {
    position: relative;
    top: -38px;
    left: 120px;
    font-size: 35px;
}

#logo {
    position: relative;
    top: -10px;
    transition: transform 200ms;
}

#logo:hover {
    transform: translateY(-5px);
}

h1 {
    font-family: "creamcake";
    font-size: 5vw;
    background: -webkit-linear-gradient(#ff6f1c, #00a6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

main {
    text-align: center;
    height: fit-content;
    margin-top : 120px;
    margin-bottom: 40px;
    padding-bottom:0.5rem;
}

h2 {
    font-family: 'skullbones', Courier, monospace;
}

p {
    margin: 10px 10%;
}

button {
    background-color: #b4aabb;
    border-style: groove;
    border-radius: 10px;
    font-family: 'skullbones', Courier, monospace;
}

button:hover {
    background-color: #fcb48a;
    color: rgb(40, 10, 80);
}

a:link {
    color: darkblue;
}

a:visited {
    color: rgb(40, 10, 80);
}

a:hover {
    color: rgb(145, 45, 45);
}

/* fonds d'écrans */
#body_calendrier {
    background-image: url(/Images/planningtransparent.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#body_membre {
    background-image: url(/Images/membres.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#body_tache {
    background-image: url(/Images/taches.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* fin des fonds d'écrans */


/* MISE EN FORME CALENDRIER SEMAINE*/
.semaine {
    display: flex;
    flex-direction: row;
}
.jour {
    display: flex;
    flex-direction: column;
    width: calc(100%/7);
}
.jour h3 {
    background-color: #fcb48a;
    border-style: solid;
    margin:1%;
}
.buttonTache {
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 13px;
    margin: 10px;
}
#task {
    display: flex;
    flex-direction: column;
}

/* FIN MISE EN FORME CALENDRIER SEMAINE */


/* mise en forme footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-top: 2px solid #fdb992;
    border-bottom: 2px solid #fdb992;
    background-color: #fcb48a;
    margin: 0px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
/* fin de la mise en forme du footer */

/* mise en forme du formulaire page d'accueil */
.formulaire-inscription {
    height: fit-content;
}

#inscriptionForm {
    margin-top: 1rem;
}

#boutonAccueilForm {
    margin-top: 1rem;
}

.avatar_icone {
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.vignetteColor {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.fondRouge {
    background-color: rgb(173, 53, 53);
}

.fondVert {
    background-color: rgb(38, 107, 38);
}

.fondJaune {
    background-color: rgb(216, 216, 52);
}

.fondBleu {
    background-color: rgb(52, 52, 228);
}

.fondOrange {
    background-color: rgb(230, 162, 36);
}

.fondMauve {
    background-color: rgb(139, 75, 139);
}

.formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champLabel, .champInput {
    display: inline-block;
    width: 220px;
    height: 20px;
    margin: 5px;
}

.champLabel {
    background-color: #b4aabb;
    text-align: center;
}
/* fin de la partie mise en forme du formulaire page d'accueil  */


/* MEDIA QUERIES */
@media screen and (max-width: 1100px){
    h1 {
        font-size: 50px;
    }
} 
@media screen and (max-width: 680px){
    nav {
        top: -24px;
        left: 0px;
        font-size: 25px;
    }

    h1 {
        font-size: 4vw;
    }
}
@media screen and (max-width: 490px){
    h1 {
        font-size: 2vw;
    }
} 

/*mise en page de page "membre" */

#profil_membre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width:50%;
    height: 800px;
}

#ajouter_membre {
     width:50%;
     height: 800px;
display: flex;
flex-direction: column;
justify-content: center;
}

#gestion {
    display: flex;
}
